/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
 background-color: #f7f573;
 color: black;
 font-family: "Courier New", Courier, monospace;
 font-size: 28px;
}

.bg {
 height: 100%;
 max-height: 100%;
}

/* Position text in the top-left corner */
.topmiddle {
 position: absolute;
 top: 5%;
 left: 50%;
 max-height: 100%;
 transform: translate(-50%, 0%);
 text-align: center;
}


/* Position text in the bottom-left corner */
.bottommiddle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
